{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO</title>
</head>

<body>
    <div class="signup-login">
        <div><h1>Hello {{user}}</h1></div>
        <div class="signupbox">
            <div class="heading">
                Get things Done
            </div>
            <div>
                <a href="{% url 'signout' %}">SignOut</a>
            </div>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="title" required placeholder="Add Today's Task">
                <input type="Submit" value="Add Task">
            </form>
            {%for todo in res%}
            <div class="todo">
                <h1>{{todo.srno}}</h1>
                <p>{{todo.title}}</p>
                <div>
                    <a href="/edit_todo/{{todo.srno}}">
                        <h6>Edit</h6>
                    </a>
                    <a href="/delete_todo/{{todo.srno}}">
                        <h6>Delete</h6>
                    </a>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>

</body>

</html>